@media screen and (max-width: 300px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        position: relative;
        position: sticky;
        top: 0%;
        z-index: 3;
        width: 100%;
        padding: 15px 20px;

    }
    
    .navbar .icon {
        display: block;
        cursor: pointer;
    }
    
    .menu {
        display: none;
    }
    
    .menu.show-menu {
        display: block;
        color: #000;
    }
    
    .navbar .menu ul {
        list-style: none;
        position: absolute;
        padding: 0;
        z-index: 3;
        margin: 0;
        background-color: #fff;
        top: 25%;
        left: 0;
        height: 300px;
        padding: 30px;
        margin-top: 35px;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .navbar .menu ul li {
        margin-right: 20px;
    }
    
    .navbar .menu a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        letter-spacing: 2px;
    }
    
    .icons {
       position: absolute;
       right: 0px;
    }
    
    .icons a {
        margin:0px 10px;
    }
    
    .icons .fa-cart-shopping {
        font-size: 20px;
    }
    .banner {
        position: relative;
    }
    
    .bannerImage{
        height: 200px;
    }
    
    .text-overlay {
        position: absolute;
        width: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    
    .text-overlay h1 {
        font-size: 16px;
    }
    
    .text-overlay span{
        line-height: 15px;
        font-size: 10px;
    }

    .items {
        padding: 20px;
    }
    
    .items h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .items .foodItems {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .items .foodItems .item img{
        width: 100%;
        border-top-right-radius: 40px;
        object-fit: cover;
        height: 200px;
    }
}
@media (min-width: 301px) and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        position: relative;
        position: sticky;
        top: 0%;
        z-index: 3;
        width: 100%;
        padding: 15px 20px;
    }
    
    .navbar .icon {
        display: block;
        cursor: pointer;
    }
    
    .menu {
        display: none;
    }
    
    .menu.show-menu {
        display: block;
        color: #000;
    }
    
    .navbar .menu ul {
        list-style: none;
        position: absolute;
        padding: 0;
        z-index: 3;
        margin: 0;
        background-color: #fff;
        top: 25%;
        left: 0;
        height: 300px;
        padding: 30px;
        margin-top: 35px;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .navbar .menu ul li {
        margin-right: 20px;
    }
    
    .navbar .menu a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        letter-spacing: 2px;
    }
    
    .icons {
       position: absolute;
       right: 0px;
    }
    
    .icons a {
        margin:0px 10px;
    }
    
    .icons .fa-cart-shopping {
        font-size: 20px;
    }
    .banner {
        position: relative;
    }
    
    .bannerImage{
        height: 300px;
    }
    
    .text-overlay {
        position: absolute;
        width: 280px;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
    
    .text-overlay h1 {
        font-size: 22px;
    }
    
    .text-overlay span{
        line-height: 17px;
        font-size: 12px;
    }

    .items {
        padding: 20px;
    }
    
    .items h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .items .foodItems {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .items .foodItems .item img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
}
@media (min-width: 769px) and (max-width: 1149px) {
    .navbar {
        gap: 40px;
        padding: 20px 30px;
    }
    .navbar .menu ul {
        gap: 20px;
    }
    
    .navbar .menu ul li {
        margin-right: 10px;
        font-size: 14px;
    }
    .banner {
        position: relative;
    }
    
    .bannerImage{
        height: 400px;
    }
    
    .text-overlay {
        position: absolute;
        width: 350px;
        top: 50%;
        left: 25%;
        padding: 20px;
    }
    
    .text-overlay h1 {
        font-size: 26px;
    }
    
    .text-overlay span{
        line-height: 17px;
        font-size: 14px;
    }
    .items{
        padding: 30px;
    }
    .items .foodItems {
        padding: 30px 50px;
        gap: 50px;
      
    }
}

@media (min-width: 1150px) and (max-width: 1430px) {
    .navbar {
        gap: 130px;
        padding: 20px;
    }
    .navbar .menu ul {
        gap: 50px;
    }
    
    .navbar .menu ul li {
        margin-right: 20px;
    }
    .items{
        padding: 30px;
    }
    .items .foodItems {
        padding: 30px 150px;
        gap: 50px;
    }
}